<h2 class="text-center mb-3 fs-4 d-flex align-items-center justify-content-center">{{ user.nameNumber }}
  <span title="médaille de participation">{% include '/_partials/svg/_medal.html.twig'%} </span>
  <span title="trophée de partage">{% include '/_partials/svg/_trophy.html.twig'%}</span>
   </h2>
<h3 class="fs-6">Bilan des 12 derniers mois :</h3>
<p>
  {{ my_rides|length }} sorties créées<br />
  {{ my_prev_rides|length }} sorties participées
</p>
<ul>
  

  {% if app.request.attributes.get('_route') is not same as 'app_rides' %}
  <li>
    <a class="text-dark fs-6" href="{{ path('app_home') }}" title="ajouter une sortie">Mon dashboard</a>
  </li>
  {% endif %}
  <li>
    <a class="text-dark fs-6" href="{{ path('app_profile') }}" title="ajouter une sortie">Mon profil</a>
  </li>
  <li>
    <a class="text-dark fs-6" href="{{ path('app_new_ride') }}" title="ajouter une sortie">Créer ma sortie</a>
  </li>
  <li>
    <a class="text-dark fs-6" href="{{ path('app_logout') }}" title="ajouter une sortie">Me déconnecter</a>
  </li>
</ul>