<div class="rounded-1 border p-3 d-block bg-light my-3 d-flex align-items-center justify-content-between">
  <div class="d-flex align-items-center">
    <div class="img-container my-2">
      {% include '/_partials/_practice_img.html.twig' %}
    </div>
  
    <div class="mx-3">
      <h3 class="text-primary fs-5 m-0">{{ ride.getTitle }}</h3>
      <p class="p-0 m-0">{{ ride.getDate|date('d-m-y') }} {{ ride.getDate|date('H:i') }} à {{ ride.getCity|capitalize }} <br>
      Sortie de {{ ride.getDistance }} kms ({{ ride.getPractice }}) avec {{ ride.getAscent }} m de D+

      </p>
    </div>
  </div>
  <a class="btn btn-primary w-auto px-4 py-2 h-auto rounded-1 text-white" href="{{ path('app_ride', { id: ride.getId }) }}">Plus d'infos</a>
  </div>
