{% extends 'base.html.twig' %}

{% block title %}ProfileImage index{% endblock %}

{% block body %}
    <h1>ProfileImage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>File_name</th>
                <th>FileSize</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for profile_image in profile_images %}
            <tr>
                <td>{{ profile_image.id }}</td>
                <td>{{ profile_image.fileName }}</td>
                <td>{{ profile_image.fileSize }}</td>
                <td>{{ profile_image.updatedAt ? profile_image.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_profile_image_show', {'id': profile_image.id}) }}">show</a>
                    <a href="{{ path('app_profile_image_edit', {'id': profile_image.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_profile_image_new') }}">Create new</a>
{% endblock %}
