{% extends 'base.html.twig' %}

{% block title %}ProfileImage{% endblock %}

{% block body %}
    <h1>ProfileImage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ profile_image.id }}</td>
            </tr>
            <tr>
                <th>File_name</th>
                <td>{{ profile_image.fileName }}</td>
            </tr>
            <tr>
                <th>FileSize</th>
                <td>{{ profile_image.fileSize }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ profile_image.updatedAt ? profile_image.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_profile_image_index') }}">back to list</a>

    <a href="{{ path('app_profile_image_edit', {'id': profile_image.id}) }}">edit</a>

    {{ include('profile_image/_delete_form.html.twig') }}
{% endblock %}
