{% extends 'base.html.twig' %}

{% block main %}
  <section class="position-relative banner">
    <img class="h-100 w-100 object-fit-cover" src="{{ asset('assets/images/login.webp') }}"  alt="photo carte" />
    <div class="container position-absolute px-3 top-50 start-50 translate-middle">
      <div class="row">
          <h1 class="text-white text-center fs-1">Inscription</h1>
      </div>
    </div>
  </section>

  <section class="form-signin my-3 my-md-5">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 col-lg-6 m-md-auto">

          <img class="translate-middle-x" src="{{ asset('assets/images/ty_ride_192.png') }}" alt="logo Blabla Bike">
          {{ form_start(registrationForm) }}
          {{ form_errors(registrationForm) }}
            {{ form_row(registrationForm.user_name) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, { label: 'Password' }) }}
          <div class="d-inline-flex my-2">
            {{ form_widget(registrationForm.RGPDConscents) }}
            {{ form_label(registrationForm.RGPDConscents) }}
          </div>
          <button type="submit" class="btn w-auto btn-secondary text-primary px-5 mx-2 mt-2">M'inscrire</button>
          {{ form_end(registrationForm) }}
        </div>
        
      </div>
    </div>
  </section>
{% endblock %}
