{% extends 'base.html.twig' %}

  {% block mainTitle %}
    Inscription
  {% endblock %}

{% block main %}
  <section class="form-signin my-3 my-md-5">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 col-lg-6 m-md-auto">

          <img class="translate-middle-x w-25" src="{{ asset('assets/images/blablabike.webp') }}" alt="logo Blabla Vélo">
          {{ form_start(registrationForm) }}
          {{ form_errors(registrationForm) }}
            {{ form_row(registrationForm.nameNumber) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, { label: 'Password' }) }}
          <div class="d-inline-flex my-2">
            {{ form_widget(registrationForm.RGPDConscents) }}
            {{ form_label(registrationForm.RGPDConscents) }}
          </div>
          <button type="submit" class="btn w-auto btn-primary text-white px-4 py-2 mx-2 mt-2">M'inscrire</button>
          {{ form_end(registrationForm) }}
        </div>
        
      </div>
    </div>
  </section>
{% endblock %}
