{% extends 'base.html.twig' %}
  {% block back %}
  {% endblock %}
{% block main %}
  {% block titleSection %}

  {% endblock %}

  <div class="row p-3 my-5">
    <div class="col-md-4 px-5">
      <section class="bg-white rounded-1 px-4 py-5 my-5">
        <h2 class="text-center mb-3 fs-4">{{ user.nameNumber }}</h2>
        <h3 class="fs-6">Bilan {{ 'now'|date('Y') }}</h3>
        <p>
          {{ my_rides|length }} sorties créées<br />
          {{ all_my_rides|length }} sorties participées
        </p>
        <ul>
          <li>
            <a class="text-dark fs-6" href="{{ path('app_profile') }}" title="ajouter une sortie">Mon profil</a>
          </li>
          <li>
            <a class="text-dark fs-6" href="{{ path('app_new_ride') }}" title="ajouter une sortie">Créer ma sortie</a>
          </li>
          <li>
            <a class="text-dark fs-6" href="{{ path('app_logout') }}" title="ajouter une sortie">Me déconnecter</a>
          </li>
        </ul>
      </section>
      <section class="bg-white rounded-1 px-4 py-5 my-5">
        <h2 class="text-center mb-3 fs-4">Filtrer les sorties</h2>

        {{ form_start(filter_form) }}
        {{ form_row(filter_form.mind) }}
        {{ form_row(filter_form.department) }}
        {{ form_row(filter_form.date) }}
        {{ form_row(filter_form.distance) }}
        {{ form_row(filter_form.participants) }}
        {{ form_row(filter_form.ascent) }}
        {{ form_row(filter_form.average_speed) }}
        {{ form_row(filter_form.submit) }}
        <a class="px-2 py-2" href="{{ path('app_rides') }}">Réinitialiser les filtres</a> 
        {{ form_end(filter_form) }}
      </section>
    </div>

    <div class="col-md-8 px-5">
      <section class="rounded-1 my-5">
        <h2 class="text-center mb-3 fs-3">Mes prochaines sorties</h2>
        {% for ride in all_my_rides %}
          {% include '/_partials/_ride_card.html.twig' %}
        {% endfor %}
      </section>
      <section class="rounded-1 my-5">
        <h2 class="text-center mb-3 fs-3">Les sorties à venir</h2>

        {% for ride in all_rides %}
          {% if app.user not in ride.participants %}
            {% include '/_partials/_ride_card.html.twig' %}
          {% endif %}
        {% endfor %}
      </section>
      <div class="container">{{ knp_pagination_render(all_rides, '/_partials/_pagination.html.twig') }}</div>
    </div>
  </div>
{% endblock %}
