{% extends 'base.html.twig' %}
{% block mainTitle %}
  Nouvelle sortie
{% endblock %}

{% block main %}
  <section class="my-3 my-md-5">
    <div class="container">
      <div class="row">
        {{ form_start(form) }}
        <div class="row">
          <fieldset class="col-md-5">
            <legend>Informations générales</legend>
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}
            <div class="text-danger">{{ form_errors(form.title) }}</div>
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            <div class="text-danger">{{ form_errors(form.description) }}</div>
          </fieldset>
          <fieldset class="col-md-7">
            <div class="row">
              <legend>Détails de la sortie</legend>
              <div class="col-md-6">
                {{ form_label(form.startCity) }}
                <div class="text-danger">{{ form_errors(form.startCity) }}</div>
                {{ form_widget(form.startCity) }}
              </div>
              <div class="col-md-6">
                {{ form_label(form.startDate) }}
                <div class="text-danger">{{ form_errors(form.startDate) }}</div>
                {{ form_widget(form.startDate) }}
              </div>
              <div class="col-md-6">
                {{ form_label(form.practice) }}
                <div class="text-danger">{{ form_errors(form.practice) }}</div>
                {{ form_widget(form.practice) }}
              </div>
              <div class="col-md-6">
                {{ form_label(form.mind) }}
                <div class="text-danger">{{ form_errors(form.mind) }}</div>
                {{ form_widget(form.mind) }}
              </div>
              <div class="col-md-6">
                {{ form_label(form.ascent) }}
                {{ form_widget(form.ascent) }}
                <div class="text-danger">{{ form_errors(form.ascent) }}</div>
              </div>
              <div class="col-md-6">
                {{ form_label(form.distance) }}
                {{ form_widget(form.distance) }}
                <div class="text-danger">{{ form_errors(form.distance) }}</div>
              </div>
              <div class="col-md-6">
                {{ form_label(form.averageSpeed) }}
                {{ form_widget(form.averageSpeed) }}
                <div class="text-danger">{{ form_errors(form.averageSpeed) }}</div>
              </div>
              <div class="col-md-6">
                {{ form_label(form.maxParticipants) }}
                {{ form_widget(form.maxParticipants) }}
                <div class="text-danger">{{ form_errors(form.maxParticipants) }}</div>
              </div>
            </div>
          </fieldset>
        </div>
        <input class="btn btn-primary m-2 text-white px-4 py-2" type="submit" name="add_ride" id="add_ride" value="Enregistrer la sortie" />
        {{ form_end(form) }}
      </div>
    </div>
  </section>
{% endblock %}
