{% extends 'base.html.twig' %}

{% block main %}
  <section class="position-relative banner">
    <img class="h-100 w-100 object-fit-cover" src="{{ asset('assets/images/map.webp') }}"  alt="photo carte" title="photo carte" />
    <div class="container position-absolute px-3 top-50 start-50 translate-middle">
      <div class="row">
          <h1 class="text-white text-center fs-1">Nouvelle sortie</h1>
      </div>
    </div>
  </section>

  <section class="my-3 my-md-5">
    <div class="container">
      <div class="row">
        {{ form_start(form) }}
        <div class="row">
          <fieldset class="col-md-6">
            <legend>Informations générales</legend>
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
          </fieldset>
          <fieldset class="col-md-6">
            <div class="row">
              <legend>Informations sportives</legend>
              <div class="col-6">
                {{ form_label(form.city) }}
                {{ form_widget(form.city) }}
              </div>
              <div class="col-6">
                {{ form_label(form.date) }}
                {{ form_widget(form.date) }}
              </div>
              <div class="col-6">
                {{ form_label(form.practice) }}
                {{ form_widget(form.practice) }}
              </div>
              <div class="col-6">
                {{ form_label(form.mind) }}
                {{ form_widget(form.mind) }}
              </div>
              <div class="col-6">
                {{ form_label(form.ascent) }}
                {{ form_widget(form.ascent) }}
              </div>
              <div class="col-6">
                {{ form_label(form.distance) }}
                {{ form_widget(form.distance) }}
              </div>
              <div class="col-6">
                {{ form_label(form.average_speed) }}
                {{ form_widget(form.average_speed) }}
              </div>
              <div class="col-6">
                {{ form_label(form.max_rider) }}
                {{ form_widget(form.max_rider) }}
                {{ form_errors(form.max_rider) }}
              </div>
            </div>              
          </fieldset>
        </div>
        <input class="btn btn-secondary m-2 text-primary px-3 py-2" type="submit" name="add_ride" id="add_ride" value="Enregistrer la sortie" />
        {{ form_end(form) }}
      </div>
    </div>
  </section>
{% endblock %}
