<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        Ty'Ride
      {% endblock %}
    </title>
    <meta name="description" content="Vététiste, routard ou gravel-man : trouve les sportifs qui ont les mêmes objectifs que toi pour t'accompagner lors de tes sorties !
    Partage tes itinéraires préférés et découvre en de nouveaux">
    <meta name="keywords" content="cyclisme, VTT, route, gravel" >
    <meta name="author" content="Julien Degermann" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" >
    <link rel="icon" href="{{ asset('assets/images/favicon.ico') }}" />
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </head>
  
  <body>
    {% block body %}
      {% block header %}
        <header class="bg-primary text-white align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <div class="container position-relative">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-1 mb-2 mb-md-0">
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none"><img src="{{ asset('assets/images/ty_ride_192.png') }}" alt="Logo ty'Ride" /></a>
              </div>


              {% if app.request.attributes.get('_route') is not same as('app_login') and app.request.attributes.get('_route') is not same as('app_register') %}
                {% include "/partials/nav_partial.html.twig" %}
              {% endif %}

              <div class="col-md-3 text-center button-container position-relative row align-items-center">
                  {% if app.user is not empty %}
                    <div class="col-6 text-end">
                      <a class="rounded-circle text-center border border-2 border-secondary d-inline-block fs-3" href="#" title="ajouter une sortie">+</a>
                    </div>
                    <div class="profile col-6 text-start">
                      <img class="rounded-circle border border-2 border-secondary" src="{{ asset('assets/images/ty_ride_road_sign.png') }}" alt="photo de profil" />
                    </div>
                  {% else %}
                    {% if app.request.attributes.get('_route') is not same as('app_login') and app.request.attributes.get('_route') is not same as('app_register') %}
                      <a class="btn px-3 mx-2 h-auto col btn-primary border-secondary text-white" href="/connexion">CONNEXION</a>
                      <a class="btn px-3 mx-2 h-auto col btn-secondary text-primary" href="/inscription">INSCRIPTION</a>
                    {% endif %}
                  {% endif %}
 
              </div>
            </div>
            {% if app.user is not empty %}
              <div class="position-absolute top-100 end-0 pt-3 h-auto col-md-3 profile">
              <div class="bg-white text-primary p-3 col-6 offset-6 border border-top-0 border-primary text-start
              profile-menu ">
                <p class="fw-bold border-bottom border-primary p-0 mb-1 text-center text-primary">{{ user_name }}</p>
                <a class="my-0 text-primary" href="/profil">Mon profl</a> <br>
                <a class="my-0 text-primary" href="/logout">Me déconnecter</a>
              </div>
              </div>
              {% endif %}
            </div>
          
        </header>
        <main>
      {% endblock %}

      {% block main %}
        {# here is the content of page #}
      {% endblock %}

      {% block footer %}
        </main>
        <footer class="py-3 mt-5 border-top bg-primary text-white">
          <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5">
              <div class="col mb-3 text-center">
                <div class="mb-2">
                  <a href="/" class="d-inline-flex text-center w-auto link-body-emphasis text-decoration-none"><img src="{{ asset('assets/images/ty_ride_192.png') }}" alt="Logo ty'Ride" /></a>
                  <p class="text-white fs-6">
                    © 2023 - Ty'Ride <br />
                    <span class="copyrights">
                      Designed & developed by <br />
                      <a class="text-white" href="#">Julien DEGERMANN</a>
                    </span>
                  </p>
                </div>
              </div>

              <div class="col mb-3"></div>

              <div class="col mb-3">
                {# <h5>Section</h5> #}
                {% if app.request.attributes.get('_route') is not same as('app_login') and app.request.attributes.get('_route') is not same as('app_register') %}
                  {% include "/partials/nav_partial.html.twig" %}
                {% endif %}
              </div>

              <div class="col mb-3">
                {# <h5>Section</h5> #}
                <ul class="nav flex-column">
                  <li>
                    <a href="" class="nav-link mx-1 py-1 px-4 text-white ">Mentions légales</a>
                  </li>
                  <li>
                    <a href="#" class="nav-link mx-1 py-1 px-4 text-white"> Politique de confidentialité</a>
                  </li>
                  <li>
                    <a href="#" class="nav-link mx-1 py-1 px-4 text-white ">Signaler un bug</a>
                  </li>
                </ul>
              </div>

              <div class="col mb-3">
                {# <h5>Section</h5> #}
                <nav>
                  <ul class="nav flex-column social">
                    <li>
                    <a href="#" class="nav-link my-0 p-0 text-white">{% include 'partials/strava_svg_partial.html.twig' %}</a>
                  </li>
                  <li>
                    <a href="#" class="nav-link my-0 p-0 text-white">{% include 'partials/linkedin_svg_partial.html.twig' %}</a>
                  </li>
                  <li>
                    <a href="#" class="nav-link my-0 p-0 text-white"> 
                      {% include 'partials/facebook_svg_partial.html.twig' %}
                    </a>
                  </li>
                  <li>
                    <a href="#" class="nav-link my-0 p-0 text-white"> 
                      {% include 'partials/github_svg_partial.html.twig' %}
                    </a>
                  </li>
                  {# <li>
                    <a href="#" class="nav-link mx-1 py-2 px-4 text-white">teste PROPOS</a>
                  </li> #}
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </footer>
      {% endblock %}


    {% endblock %}
    </body>
</html>
