{% extends 'base.html.twig' %}

{% block mainTitle %}
  Mon profil
{% endblock %}

{% block main %}  
  <section class="my-3 my-md-5">
    <div class="container">
      <div class="row">
        {{ form_start(form) }}
        <div class="row">
          <fieldset>{{ form_row(form.email) }}
            {{ form_row(form.department) }}
            {{ form_row(form.mind) }}
            {{ form_row(form.practice) }}</fieldset>
        </div>

        <input type="submit" class="btn btn-primary text-white px-3 py-2 m-2" value="Enregistrer les modifications" />
        <a href="{{ path('app_pwd_forgot') }}" class="btn btn-secondary text-primary border border-primary m-2 py-2 px-3">Modifier le mot de passe</a> <br />
        <a href="{{ path('app_delete') }}" class="text-primary m-2 px-3 fs-6">Supprimer mon compte</a>
        {{ form_end(form) }}
      </div>
    </div>
  </section>
{% endblock %}
